* {   
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    }
    :root {
        --violet: #9356DC;
        --rose: #FF79DA;
        --vert: #99E2D0;
    }
    #logo1 logo2 {
        font-family: 'Shrikhand', cursive;
    }
    .One {
        display: flex;
        flex-direction: row;
    }