@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
header img {
  padding-right: 100px;
  height: 25px;
}
header .Retour {
  padding: 0 20% 5% 8%;
  transform: translateY(-15%);
  color: black;
  font-size: 20px;
}

.LieuxCartesImg {
  width: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  margin-top: -15px;
}

.Menu {
  background-color: #f6f6f6;
  padding-bottom: 2%;
}
.Menu .Nom {
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  transform: translateY(-42px);
  margin-bottom: -60px;
  padding: 10px 40px 1.5px 18px;
  background-color: #f6f6f6;
  font-family: "shrikhand", sans-serif;
  font-size: medium;
  position: relative;
}
.Menu h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 100;
}

h3 {
  font-family: "roboto", sans-serif;
  padding-left: 6%;
  opacity: 0.7;
  font-weight: 500;
  font-size: 17px;
}

.underline-h3 {
  width: 41px;
  height: 3px;
  background-color: #99e2d0;
  margin: -3% 0 3% 6%;
}

.fa-heart {
  cursor: pointer;
  transition: color 2s;
}
.fa-heart:active {
  background: linear-gradient(200deg, #9356DC, #FF79DA);
  font-weight: bold;
  background-clip: text;
  text-rendering: auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.PlatsCartes {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 20px 20px;
  margin: 0 5% 3% 5%;
  transition: all 2000ms;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 4% 0 0 3%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}
.PlatsCartes h4 {
  margin: -2% 0 4% 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.5%;
  font-size: 17px;
}
.PlatsCartes .PlatsInfos {
  display: flex;
  align-items: flex-end;
  margin-top: -8%;
  font-size: 12px;
}
.PlatsCartes .PlatsInfosDetails {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.PlatsCartes .PlatsInfosPrix {
  font-weight: bold;
  margin-left: auto;
  padding-right: 5%;
  font-size: 15px;
}
.PlatsCartes .circle {
  margin-top: -10%;
  padding: 1% 0;
  background: #99E2D0;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0 16px 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.PlatsCartes .fa-check-circle {
  padding: 10px 8px 0 8px;
  margin: 16px;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  transform: rotate(360deg);
}
.PlatsCartes:active .circle {
  width: 64px;
  opacity: 100%;
}
.PlatsCartes:active .fa-circle-check {
  transform: rotate(0deg);
}

.Footer {
  background-color: black;
  color: white;
  padding: 3% 0 8% 0;
}
.Footer .Logo2 {
  width: 35%;
  padding: 5% 0 2% 9%;
}
.Footer .Proposition {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 8%;
  margin: 2%;
}
.Footer .Contacts {
  color: white;
  white-space: nowrap;
}
.Footer .Contact {
  color: white;
}
.Footer .Partenaires {
  padding-left: 4%;
  white-space: nowrap;
}
.Footer .fa-utensils, .Footer .fa-handshake-angle {
  font-size: 13px;
}

@keyframes apparitions {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.animation-entrees {
  animation-name: apparitions;
  animation-delay: 0.1s;
  animation-duration: 1s;
}

.animation-plat {
  animation-name: apparitions;
  animation-delay: 0.6s;
  animation-duration: 2s;
}

.animation-desserts {
  animation-name: apparitions;
  animation-delay: 0.9s;
  animation-duration: 3s;
}

.Btn {
  margin: 11% 0 10% 22%;
  padding: 3.5% 15%;
  border-radius: 30px;
  background-color: #9356DC;
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  display: block;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 6px 6px 6px rgb(200, 230, 230);
}
.Btn:hover {
  filter: brightness(120%);
  cursor: pointer;
  box-shadow: 12px 12px 12px rgb(25, 152, 152);
}

@media (min-width: 600px) and (max-width: 1340px) {
  header {
    justify-content: flex-start;
  }
  header img {
    padding-left: 59px;
    height: 51px;
  }
  header .fa-solid {
    font-size: 29px;
  }
  .Menu {
    font-size: 25px;
  }
  .Menu h2 {
    font-size: 30px;
    justify-content: space-evenly;
  }
  .fa-heart {
    font-size: xx-large;
  }
  .PlatsCartes {
    padding: 3% 0 0 2%;
    margin-top: 3%;
    font-family: "Roboto, sans-serif";
  }
  .PlatsCartes:active .circle {
    height: 90px;
  }
  h4 {
    font-size: 19px;
  }
  .PlatsInfos {
    font-size: 22px;
  }
  .PlatsInfos .PlatsInfosPrix {
    font-size: 18px;
  }
  .PlatsInfos .PlatsInfosDetails {
    font-size: 17px;
    padding: 5% 0 2% 0;
    margin: 0;
    opacity: 0.7;
  }
  h3 {
    padding-left: 25px;
    font-size: 21px;
  }
  .underline-h3 {
    margin: -15px 0 0 25px;
  }
  .Btn {
    font-size: 25px;
    border-radius: 50px;
    margin: 10% 0 7% 27%;
  }
  .Footer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .Footer .Logo2 {
    padding: 5% 0 2% 3%;
  }
}
@media (min-width: 1341px) {
  * {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
  header {
    padding-top: 2%;
    justify-content: normal;
  }
  header .Retour {
    transform: translateY(-14%);
    margin-left: -5%;
    font-size: 25px;
  }
  header img {
    height: auto;
    padding-left: 246px;
  }
  .LieuxCartesImg {
    width: 650px;
    height: 300px;
    margin: -2% 0 0 30%;
  }
  .Menu {
    width: 40%;
    margin-top: 4%;
    background-color: white;
  }
  .Menu .fa-heart {
    margin-right: -148%;
    color: black;
  }
  .Menu .fa-heart:hover {
    transition-property: color;
    transition-duration: 500ms;
    background: linear-gradient(#9356DC, #FF79DA);
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .Menu h2 {
    font-size: 30px;
    margin: 0 -39% 0 64%;
    font-weight: 700;
    font-family: "shrikhand", cursive;
  }
  .Menu .Nom {
    border-radius: 0%;
    margin: 14% 0 0 37%;
    background-color: white;
  }
  h3 {
    font-weight: 600;
    font-size: 19px;
  }
  .Plats {
    display: flex;
    font-family: "Roboto, sans-serif";
    padding-top: 70px;
    min-width: 100%;
  }
  .PlatsCartes {
    margin: 8% 0 3% 0;
    min-width: 357px;
    background-color: #C0C0C0;
  }
  .PlatsCartes .circle {
    font-size: 48px;
    padding-top: 21px;
    border-radius: 0;
  }
  .PlatsCartes .fa-circle-check {
    padding: 10px 8px 0 8px;
    margin: 16px;
    font-size: 20px;
    color: white;
    border-radius: 0;
    transition: 0.5s ease-in-out;
    transform: rotate(360deg);
  }
  .PlatsCartes:hover .circle {
    width: 112px;
    opacity: 100%;
  }
  .PlatsCartes:hover .fa-circle-check {
    transform: rotate(0deg);
  }
  h4 {
    font-size: 17px;
  }
  .PlatsInfos {
    font-size: 15px;
  }
  .PlatsInfosDetail {
    font-weight: 100;
  }
  .animation-entrees {
    margin-left: 14%;
  }
  .animation-plat {
    margin: 0 10%;
  }
  .animation-desserts {
    margin-right: 5%;
  }
  .Btn {
    margin: 10% 93%;
    padding: 5.5% 19%;
    font-size: 23px;
  }
  .Footer {
    font-size: 20px;
    padding: 0;
  }
  .Footer .Logo2 {
    margin-left: 32%;
    width: 29%;
  }
  .Footer .BasDePage {
    display: flex;
    padding-bottom: 3%;
  }
}/*# sourceMappingURL=stylepages.css.map */