/* Version mobile */
@media screen and (max-width: 767px) {
  * {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }
  .Logo1 {
    font-family: "Shrikhand", sans-serif;
    padding: 5% 0 0 30%;
    width: 65%;
  }
  .Localisation {
    background-color: rgb(240, 240, 240);
    padding-left: 28%;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
  }
  input {
    background-color: rgb(240, 240, 240);
    border: none;
    margin: 3%;
    font-weight: bold;
    font-size: 15px;
  }
  .fa-location-dot {
    margin-top: 4%;
    font-size: 12px;
  }
  .Reservation {
    background-color: rgb(245, 245, 245);
    margin-top: -3%;
  }
  h1 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-indent: -15%;
    padding: 8% 0 1% 15%;
  }
  .Decouverte {
    color: grey;
    font-size: 15px;
    padding-left: 25%;
    text-indent: -12%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Btn {
    margin: 3% 0 12% 25%;
    padding: 2% 5%;
    border-radius: 30px;
    background-color: #9356DC;
    color: white;
    font-size: 13px;
    font-weight: bold;
  }
  .Choix {
    margin-bottom: 15%;
  }
  h2 {
    font-size: 20px;
    margin-left: 6%;
  }
  .Restos {
    counter-reset: li;
    margin-left: -3%;
  }
  .Restos > .RestosChoix {
    list-style-type: none;
    margin: 6% 3% 0 0;
    padding: 8% 10% 8% 5%;
    border-radius: 25px;
    width: 93%;
    border: 2px solid rgb(245, 245, 245);
    background-color: rgb(245, 245, 245);
    box-shadow: 6px 6px 6px rgb(200, 230, 230);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
  }
  .Restos > .RestosChoix:before {
    content: counter(li);
    counter-increment: li;
    border: 2px solid #9356DC;
    border-radius: 50%;
    padding: 1% 2%;
    font-size: 12px;
    background-color: #9356DC;
    color: white;
    position: absolute;
    left: -10px;
    margin-top: -2%;
  }
  .Choisissez {
    padding-right: 10%;
    overflow: hidden;
  }
  .fa-mobile-screen-button {
    padding: 0 5%;
  }
  .fa-list {
    font-size: 15px;
  }
  .fa-store {
    color: #9356DC;
  }
  .Lieux {
    background-color: rgb(245, 245, 245);
    padding: 5% 0;
  }
  .LieuxCartes {
    margin: 0 -5%;
  }
  .LieuxCartesImgimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .LieuxCartesFigure {
    border-radius: 20px;
    width: 80%;
    height: 190px;
  }
  .LieuxCartesImg {
    position: relative;
    text-align: right;
    height: 130px;
  }
  .Nouveau {
    position: absolute;
    top: 10%;
    right: 3%;
    transform: translate(-10%, -3%);
    border: 2px solid #99E2D0;
    color: black;
    font-size: 10px;
    background-color: #99E2D0;
    padding: 1%;
  }
  .LieuxCartesInfos {
    background-color: white;
    margin-top: -11%;
    border-radius: 0 0 20px 20px;
    padding-top: 6%;
  }
  h3 {
    font-size: 15px;
    color: black;
    margin-top: -4%;
    padding: 12% 0 0 5%;
  }
  .LieuxCartesInfos > p {
    font-size: 12px;
    padding: 0 0 7% 5%;
    color: black;
    margin-top: -1%;
  }
  .fa-heart {
    display: flex;
    justify-content: end;
    margin-top: -8%;
    padding-right: 5%;
    font-size: 19px;
  }
  .Footer {
    background-color: black;
    color: white;
  }
  .Logo2 {
    width: 35%;
    padding: 5% 0 0 8%;
  }
  .Proposition {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }
  .Contact {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */