.Localisation {
    background-color: rgb(240, 240, 240);
    padding: 1% 0 3% 15%;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
  
    & input {
      background-color: rgb(240, 240, 240);
      border: none;
      margin: 3%;
      font-weight: bold;
      font-size: 16px;
    }
    & .fa-location-dot {
      margin-top: 4%;
      font-size: 14px;
    }
  }
  .Reservation {
    background-color: rgb(245, 245, 245);
    margin-top: -3%;
    padding-bottom: 2%;
  
    & h1 {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-indent: -16%;
      padding: 7% 0 1% 10%;
      margin-top: -5%;
    }
    & .Decouverte {
      color: grey;
      font-size: 15px;
      padding-left: 15%;
      text-indent: -12%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      justify-content: center;
    }

  }
  .Choix {
    margin-bottom: 15%;
  }
    h2 {
      font-size: 23px;
      margin-left: 6%;
      padding-top: 4%;
      font-weight: 600;
    }
  .Restos {
    counter-reset: li;
    margin-left: -3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    & .RestosChoix {
      list-style-type: none;
      margin: 6% 3% 0 0;
      padding: 8% 10% 8% 5%;
      border-radius: 25px;
      width: 93%;
      border: 2px solid rgb(245, 245, 245);
      background-color: rgb(245, 245, 245);
      box-shadow: 6px 6px 6px rgb(200, 230, 230);
      position: relative;
      display: flex;
      justify-content: space-evenly;
      font-size: 14px;
      font-weight: bold;
      white-space: nowrap;
    }
    & .RestosChoix:before {
      content: counter(li);
      counter-increment: li;
      border: 2px solid #9356DC;
      border-radius: 50%;
      padding: 1.5% 2% 0 2%;
      font-size: 12px;
      background-color: #9356DC;
      color: white;
      position: absolute;
      left: -10px;
    }
    & .Choisissez {
      padding-right: 10%;
      overflow: hidden;
      font-size: 16px;
    }
    & .fa-mobile-screen-button {
      padding: 0 5%;
      opacity: 0.5;
      font-size: large;
    }
    & .fa-list {
      font-size: large;
      opacity: 0.5;
    }
    & .fa-store {
      color: #9356DC;
      font-size: large;
    }
  }
  
  .Lieux {
    background-color: rgb(245, 245, 245);
    padding: 5% 0;
  
    & .LieuxCartes {
      margin: 10% auto;
    }
      & .LieuxCartesImgimg {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        object-position: bottom;
      }
      & .LieuxCartesFigure {
        border-radius: 20px;
        width: 80%;
        height: 190px;
      }
      & .LieuxCartesImg {
        position: relative;
        text-align: right;
        height: 130px;
        object-fit: cover;
        display: flex;
      }
      & .Nouveau {
        position: absolute;
        top: 10%;
        right: 3%;
        transform: translate(-10%, -3%);
        border: 2px solid #99E2D0;
        color: grey;
        font-size: 13px;
        font-weight: 500;
        background-color: #99E2D0;
        padding: 1% 2%;
      }
      & .LieuxCartesInfos {
        background-color: white;
        margin-top: -11%;
        border-radius: 0 0 20px 20px;
        padding-top: 6%;
      }
      & h3 {
        font-size: 17px;
        color: black;
        margin: 3% auto;
        padding: 6% 0 0 5%;
      }
      & .LieuxCartesInfos > p {
        font-size: 14px;
        padding: 0 0 5% 5%;
        color: black;
        margin: 0;
        font-weight: 500;
        opacity: 0.7;
      }
    }
    .fa-heart {
        display: flex;
        justify-content: end;
        margin-top: -8%;
        padding-right: 5%;
        font-size: 25px;
        color: black;
        transition: all 2s; 
        @include fa-heart($colorFaHeart); 
    }
  