.Btn {
    margin: 5% auto;
    padding: 3.5% 0;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    border: none;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 6px 6px 6px rgb(200, 230, 230);
    width: 70%;
    display: block;
    max-width: 350px;
    @include button;
  }