@media (min-width: 1341px) {
    
    .Logo1 {
        padding: 3% 0 3% 35%;
        margin-left: 4%;
        width: 54%;
    }
.Localisation {
        padding-left: 6%;

        & .fa-location-dot {
            margin-top: 3.5%;
            font-size: 21px;
        }
        & input {
            font-size: 27px;
            background-color: rgb(240, 240, 240);
        }
    }
    .Reservation {

        & h1 {
            font-size: 32px;
            padding: 4% 0% 1% 0%;
            margin-left: 5%;
        }
        & .Decouverte {
            font-size: 27px;
            padding-left: 6%;
            text-indent: -7%;
        }
    }
    .Btn {
        font-size: 23px;
        white-space: nowrap;
        padding: 2%;
    }
    h2 {
        font-size: 29px;
        margin: 5% 0 0 3%;
        display: flex;
        padding: 0;
    }
    .Restos {
        display: flex;
        padding: 0;
        flex-direction: row;
    
        & .RestosChoix {
            padding: 2% 1% 2% 2%;
            border-radius: 68px;
            margin-left: 5%;             
        }
        & .RestosChoix:before {
            margin-top: -1%;
            left: -15px;
            padding: 1.5% 2.5% 1.5% 2.5%;
            font-size: 17px;
        }
        & .Choisissez {
            padding-right: 2%;
            margin-left: -11%;
            font-size: 18px;
        }
        & .fa-mobile-screen-button {
            padding: 0 11% 0 0;
            font-size: 20px;
            color: #9356DC;
        }
        & .fa-list {
            font-size: 20px;
            padding-right: 11%;
            color: #9356DC;
        }
        & .fa-store {
            font-size: 20px;
            padding-right: 11%;
        }
    }
    .Lieux {
        margin-top: -7%;
        padding: 3% 0 9% 11%;
        width: 100%;

        & .LieuxCartes {
            display: inline-flex;
            padding: 4% 2% 3% 8%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 3%;
            width: 49%;
        }
        & .LieuxCartesImg {
            height: 183px;
        }
        & h3 {
            font-size: 18px;
            padding: 2% 0 1% 5%;
        }
        & .LieuxCartesInfos {
            font-size: 16px;
            padding: 11% 0 0 5%;
            background: linear-gradient(42deg, #9356DC, transparent);

            & p {
                margin-top: -1%;
            }
            .fa-heart {
                &:hover {
                    transition-property: color;
                    transition-duration: 500ms;
                    background: linear-gradient(#9356DC, #FF79DA);
                    font-weight: bold;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
            }
        }
    }
    a {
        width: 100%;
        margin: -10% 0 0 -40%;
    }
    .Footer {

        & .Logo2 {
            width: 58%;
            padding: 3% 0 3% 35%;
            margin-left: 4%;
        }
        & .BasDePage {
                display: flex;
                align-items: center;
                margin-bottom: -5%;
            }
    }
}