@media (min-width: 600px) and(max-width: 1340px) {
    header {
        justify-content: flex-start;
        & img {
            padding-left: 59px;
            height: 51px;
        }
        & .fa-solid {
            font-size: 29px;
        }
    }
    .Menu {
        font-size: 25px;
        & h2 {
            font-size: 30px;
            justify-content: space-evenly;
        }
    }
    
    .fa-heart {
        font-size: xx-large;
    }
    .PlatsCartes {
        padding: 3% 0 0 2%;
        margin-top: 3%;
        font-family: "Roboto, sans-serif";

        &:active .circle {
            height: 90px;
        }
    }
        h4 {
            font-size: 19px;
        }
        .PlatsInfos {
            font-size: 22px;
        
        .PlatsInfosPrix {
            font-size: 18px;
        }
        .PlatsInfosDetails {
            font-size: 17px;
            padding: 5% 0 2% 0;
            margin: 0;
            opacity: 0.7;
        }
    } 
    
    h3 {
        font-size: 21px;
    }
        .underline-h3 {
            margin: -1.5% 0 0 6%;
        }

    .Btn { 
        font-size: 25px;
        border-radius: 50px;
        margin: 10% 0 7% 27%;
    }
    .Footer {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & .Logo2 {
            padding: 5% 0 2% 3%;
    }
    }
    
}