@mixin fa-heart($colorFaHeart){ 
    &:active {
        background: linear-gradient(200deg,#9356DC, #FF79DA);
        font-weight: bold;
        background-clip: text;
        text-rendering: auto;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}        
@mixin ImgPages($size) {
        width: 100%;
    }
@mixin button {
    &:hover {
        filter: brightness(120%);
        cursor: pointer;
        box-shadow: 12px 12px 12px rgb(25, 152, 152);
      }
}